// This is our FCC filetype
#define oEXR 0x6f455852L		// Hex description 'oEXR'

// For compatibility with Premiere 6.x, we still define a real IMPT resource
1000 IMPT DISCARDABLE
BEGIN
	0x0000
	oEXR
END

	